@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

$font-stack:          'Lato', sans-serif;
$font-regular-size:   400;
$font-bold-size:      700;
$primary-color:       #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
